*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F7F9;
}
header {
    width: 1440;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom: 1px solid #C3D4E9;
}
.left-header{
    width: 150px;
    align-items: center;
    display: flex;
    margin-left: 60px;
}
.big-logo{
    height: 30px;
}
.middle-header{
    flex:1;
    align-items: center;
    display: flex;
    margin-left: 100px;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #C3D4E9;
    border-radius: 22px;
    padding: 8px 15px;
    width: 492px; 
    height: 44px; 
    box-sizing: border-box;
    background-color: #ffffff;
}

.search-button,
.filter-button {
    background: none;
    border: none; 
    padding: 0;
    margin: 0; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-button .icon,
.filter-button .icon {
    width: 20px; 
    height: 20px; 

}

.search-button {
    margin-right: 10px;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: #596780;
    font-size: 15px;
}

.filter-button {
    margin-left: auto; 
}

.search-button:hover,
.filter-button:hover {
    opacity: 0.8;
}
.right-header{
    margin-right: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-button, .notifi-button{
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border-style: solid ; 
    border-color: #C3D4E9;
    border-width: 1px;
    background: none;
    cursor: pointer;
    position: relative;
}
body {
    font-family: roboto, Arial;
    margin: 0;
    background-color: #F6F7F9;
}
.menu-container{
}

.ad-container{
    margin: 20px 56px;
}
.advertisement{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    position: relative;
}
.ad-pic{
    position: relative;
}
.ads-names-1{
    position: absolute;
    top: 24px;
    left: 24px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    width: 300px;
}
.ads-info-1{
    position: absolute;
    top: 130px;
    left: 24px;
    color: white;
    line-height: 30px;
    font-size: 17.5px;
    width: 340px;
}
.rent-button{
    position: absolute;
    top: 204px;
    left: 24px;
    background-color: #3563E9;
    color: white;
    width: 120px;
    height: 44px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0,15s;
}
.rent-button:hover{
    opacity: 0.8;
}
.rent-button:active{
    opacity: 0.5;
}
.menu-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 56px;
    margin-right: 56px;
}
.pick-up-bar{
    margin-top: 50px;
    position: relative;
} 
.swap{
    display: flex;
    margin-top: 50px;
}

.swap-button {
    background-color: #3563E9;
    height: 60px;
    width: 60px;
    border: 1px solid #3563E9;
    border-radius: 10px;
    transition: opacity 0,15s;
}
.swap-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.swap-button:active{
    opacity: 0.5;
}
.pick-up{
    position: absolute;
    top: 24px;
    left: 36px;
    display: flex;
}
.pick-up-line{
    margin-left: 5px;
    font-weight: 550;
}
.select-font-2{
    font-weight: bold;
    font-size: large;
    margin-bottom: 15px;
}
.pick-up-1{
    position: absolute;
    top: 30px;
    display: flex;
}
.select-bar{
    border: none; 
    appearance: none;
    width: 126px;
    height: 20px;
}
.option{
    display: flex;
    flex-direction: column;
}
.select-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.pick-up-2{
    position: absolute;
    top: 30px;
    left: 160px;
    display: flex;
    padding-left: 20px;
    border-left: 1px solid rgb(214, 216, 214);
}
.pick-up-3{
    position: absolute;
    top: 30px;
    left: 360px;
    display: flex;
    padding-left: 20px;
    border-left: 1px solid rgb(214, 216, 214);
}