*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 1440;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom: 1px solid #C3D4E9;
}
.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F6F7F9;
}

.left-header{
    width: 150px;
    align-items: center;
    display: flex;
    margin-left: 60px;
}
.main-header .left-header .logo-pointer .big-logo{
    height: 30px;
    pointer-events: none;
}
.middle-header{
    flex:1;
    align-items: center;
    display: flex;
    margin-left: 100px;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #C3D4E9;
    border-radius: 22px;
    padding: 8px 15px;
    width: 492px; 
    height: 44px; 
    box-sizing: border-box;
    background-color: #ffffff;
}

.search-button,
.filter-button {
    background: none;
    border: none; 
    padding: 0;
    margin: 0; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-button .icon,
.filter-button .icon {
    width: 20px; 
    height: 20px; 
    pointer-events: none;

}

.search-button {
    margin-right: 10px;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: #596780;
    font-size: 15px;
}

.filter-button {
    margin-left: auto; 
}

.search-button:hover,
.filter-button:hover {
    opacity: 0.8;
}
.right-header{
    margin-right: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border-style: solid ; 
    border-color: #C3D4E9;
    border-width: 1px;
    background: none;
    cursor: pointer;
    position: relative;
    transition: opacity 0.15s;
}
.icon-button:hover{
    opacity: 0.8;
}
.icon-button:active{
    opacity: 0.5;
}
.right-header .icon-button .icon{
    width: 20px;
    height: 20px;
    pointer-events: none;
}
body {
    font-family: roboto, Arial;
    margin: 0;
    background-color: #F6F7F9;
}

.ad-container{
    margin: 20px 56px;
}
.advertisement{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    position: relative;
}
.ads-pic{
    position: relative;
    pointer-events: none;
}
.ads-names-1{
    position: absolute;
    top: 24px;
    left: 24px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    width: 300px;
}
.ads-info-1{
    position: absolute;
    top: 130px;
    left: 24px;
    color: white;
    line-height: 30px;
    font-size: 17.5px;
    width: 340px;
}
.rent-button{
    position: absolute;
    top: 204px;
    left: 24px;
    background-color: #3563E9;
    color: white;
    width: 120px;
    height: 44px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.rent-button:hover{
    opacity: 0.8;
}
.rent-button:active{
    opacity: 0.5;
}
.menu-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 56px;
    margin-right: 56px;
}
.pick-up-bar{
    margin-top: 50px;
    position: relative;
} 
.swap{
    display: flex;
    margin-top: 50px;
}

.swap-button {
    background-color: #3563E9;
    height: 60px;
    width: 60px;
    border: 1px solid #3563E9;
    border-radius: 10px;
    transition: opacity 0.15s;
}
.swap-icon{
    pointer-events: none;
}
.swap-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.swap-button:active{
    opacity: 0.5;
}
.pick-up-bar-info{
    width: 582px;
    height: 132px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 10px;
}
.pick-up{
    position: absolute;
    top: 24px;
    left: 36px;
    display: flex;
}
.pick-up-line{
    margin-left: 5px;
    font-weight: 550;
}
.select-font-2{
    font-weight: bold;
    font-size: large;
    margin-bottom: 15px;
}
.pick-up-1{
    position: absolute;
    top: 30px;
    display: flex;
}
.select-bar{
    border: none; 
    appearance: none;
    width: 126px;
    height: 20px;
}
.option{
    display: flex;
    flex-direction: column;
}
.select-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.pick-up-2{
    position: absolute;
    top: 30px;
    left: 160px;
    display: flex;
    padding-left: 20px;
    border-left: 1px solid rgb(214, 216, 214);
}
.pick-up-3{
    position: absolute;
    top: 30px;
    left: 360px;
    display: flex;
    padding-left: 20px;
    border-left: 1px solid rgb(214, 216, 214);
}
.container{
    max-width: 1312px;
    margin: 30px 56px;
}
.container .popular-car{
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px auto;
}
.container .popular-car h5{
    font-size: 20px;
    color: #90A3BF;
}
.container .popular-car a{
    color: #3563E9;
    font-weight: bold;
    margin-right: 5px;
}

.container .box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: 20px auto;
}

.container .box .box-container{
    width: 304px;
    height: 388px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.container .box .box-container .car-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 25px 0px 25px;
}
.container .box .box-container .car-info .car-name{
    font-weight: bold;
}
.container .box .box-container .car-info .love-btn{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    transition: opacity 0.15s;
    background-color: #FFFFFF;
}
.container .box .box-container .car-info .love-btn:hover{
    opacity: 0.8;
}
.container .box .box-container .car-info .love-btn:active{
    opacity: 0.5;
}
.container .box .box-container .car-info .love-btn .love-icon{
    pointer-events: none;
}
.container .box .box-container .car-type{
    color: #90A3BF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-left: 25px;
}
.container .box .box-container .images{
    height: 90px;
    text-align: center;
    margin: 10px auto;
    pointer-events: none;
}
.container .box .box-container .about-car{
    margin: 50px 25px 15px 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.container .box .box-container .about-car .about-car-info{
    display: flex;
    align-items: center;
}
.container .box .box-container .about-car .about-car-info .icon-info{
    font-size: 14px;
    font-weight: 300;
    color: #90A3BF ;
}
.container .box .box-container .price-rent{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.container .box .box-container .price-rent .price {
    margin-top: auto;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
}
.container .box .box-container .price-rent .price .a-day{
    font-size: 14px;
    color: #90A3BF;
}
.container .box .box-container .price-rent .btn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #3563E9;
    color: white;
    width: 116px;
    height: 44px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    text-decoration: none;
    transform: opacity 0.15s;
}
.container .box .box-container .price-rent .btn:hover{
    opacity: 0.8;
}
.container .box .box-container .price-rent .btn:active{
    opacity: 0.5;
}
.smc-container{
    display: flex;
    justify-content: space-between;
    
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #3563E9;
    color: white;
    width: 156px;
    height: 44px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-left: 50px;
    margin-bottom: 25px;
    text-decoration: none;
    transform: opacity 0.15s;
}
.btn:hover{
    opacity: 0.8;
}
.btn:active{
    opacity: 0.5;
}
.container .smc-container .car-number{
    color: #90A3BF;
}